@inherits LayoutComponentBase

<MudThemeProvider Theme="@MyTheme" />
<MudDialogProvider />
<MudSnackbarProvider />

<div style="background: linear-gradient(109.6deg, #E3F2FD 0%, #BBDEFB 100%);
            min-height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;">

    @Body
</div>

@code {
    private MudTheme MyTheme => Themes.VetSystemTheme.Default;
}