.dark-medium-contrast {
  --md-sys-color-primary: rgb(189 225 255);
  --md-sys-color-surface-tint: rgb(150 205 248);
  --md-sys-color-on-primary: rgb(0 40 63);
  --md-sys-color-primary-container: rgb(95 150 191);
  --md-sys-color-on-primary-container: rgb(0 0 0);
  --md-sys-color-secondary: rgb(153 233 249);
  --md-sys-color-on-secondary: rgb(0 42 49);
  --md-sys-color-secondary-container: rgb(74 156 171);
  --md-sys-color-on-secondary-container: rgb(0 0 0);
  --md-sys-color-tertiary: rgb(152 236 222);
  --md-sys-color-on-tertiary: rgb(0 43 38);
  --md-sys-color-tertiary-container: rgb(74 158 147);
  --md-sys-color-on-tertiary-container: rgb(0 0 0);
  --md-sys-color-error: rgb(255 210 204);
  --md-sys-color-on-error: rgb(84 0 3);
  --md-sys-color-error-container: rgb(255 84 73);
  --md-sys-color-on-error-container: rgb(0 0 0);
  --md-sys-color-background: rgb(16 20 23);
  --md-sys-color-on-background: rgb(224 227 232);
  --md-sys-color-surface: rgb(16 20 23);
  --md-sys-color-on-surface: rgb(255 255 255);
  --md-sys-color-surface-variant: rgb(65 71 77);
  --md-sys-color-on-surface-variant: rgb(215 221 228);
  --md-sys-color-outline: rgb(173 178 185);
  --md-sys-color-outline-variant: rgb(139 145 152);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(224 227 232);
  --md-sys-color-inverse-on-surface: rgb(38 42 46);
  --md-sys-color-inverse-primary: rgb(0 77 114);
  --md-sys-color-primary-fixed: rgb(202 230 255);
  --md-sys-color-on-primary-fixed: rgb(0 19 32);
  --md-sys-color-primary-fixed-dim: rgb(150 205 248);
  --md-sys-color-on-primary-fixed-variant: rgb(0 58 87);
  --md-sys-color-secondary-fixed: rgb(161 239 255);
  --md-sys-color-on-secondary-fixed: rgb(0 20 24);
  --md-sys-color-secondary-fixed-dim: rgb(131 211 227);
  --md-sys-color-on-secondary-fixed-variant: rgb(0 60 69);
  --md-sys-color-tertiary-fixed: rgb(158 242 228);
  --md-sys-color-on-tertiary-fixed: rgb(0 21 18);
  --md-sys-color-tertiary-fixed-dim: rgb(130 213 200);
  --md-sys-color-on-tertiary-fixed-variant: rgb(0 62 55);
  --md-sys-color-surface-dim: rgb(16 20 23);
  --md-sys-color-surface-bright: rgb(65 69 73);
  --md-sys-color-surface-container-lowest: rgb(5 8 11);
  --md-sys-color-surface-container-low: rgb(26 30 34);
  --md-sys-color-surface-container: rgb(36 40 44);
  --md-sys-color-surface-container-high: rgb(47 51 55);
  --md-sys-color-surface-container-highest: rgb(58 62 66);
}
