.dark {
  --md-sys-color-primary: rgb(150 205 248);
  --md-sys-color-surface-tint: rgb(150 205 248);
  --md-sys-color-on-primary: rgb(0 52 79);
  --md-sys-color-primary-container: rgb(0 75 112);
  --md-sys-color-on-primary-container: rgb(202 230 255);
  --md-sys-color-secondary: rgb(131 211 227);
  --md-sys-color-on-secondary: rgb(0 54 62);
  --md-sys-color-secondary-container: rgb(0 78 89);
  --md-sys-color-on-secondary-container: rgb(161 239 255);
  --md-sys-color-tertiary: rgb(130 213 200);
  --md-sys-color-on-tertiary: rgb(0 55 49);
  --md-sys-color-tertiary-container: rgb(0 80 72);
  --md-sys-color-on-tertiary-container: rgb(158 242 228);
  --md-sys-color-error: rgb(255 180 171);
  --md-sys-color-on-error: rgb(105 0 5);
  --md-sys-color-error-container: rgb(147 0 10);
  --md-sys-color-on-error-container: rgb(255 218 214);
  --md-sys-color-background: rgb(16 20 23);
  --md-sys-color-on-background: rgb(224 227 232);
  --md-sys-color-surface: rgb(16 20 23);
  --md-sys-color-on-surface: rgb(224 227 232);
  --md-sys-color-surface-variant: rgb(65 71 77);
  --md-sys-color-on-surface-variant: rgb(193 199 206);
  --md-sys-color-outline: rgb(139 145 152);
  --md-sys-color-outline-variant: rgb(65 71 77);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(224 227 232);
  --md-sys-color-inverse-on-surface: rgb(45 49 53);
  --md-sys-color-inverse-primary: rgb(39 99 138);
  --md-sys-color-primary-fixed: rgb(202 230 255);
  --md-sys-color-on-primary-fixed: rgb(0 30 48);
  --md-sys-color-primary-fixed-dim: rgb(150 205 248);
  --md-sys-color-on-primary-fixed-variant: rgb(0 75 112);
  --md-sys-color-secondary-fixed: rgb(161 239 255);
  --md-sys-color-on-secondary-fixed: rgb(0 31 37);
  --md-sys-color-secondary-fixed-dim: rgb(131 211 227);
  --md-sys-color-on-secondary-fixed-variant: rgb(0 78 89);
  --md-sys-color-tertiary-fixed: rgb(158 242 228);
  --md-sys-color-on-tertiary-fixed: rgb(0 32 28);
  --md-sys-color-tertiary-fixed-dim: rgb(130 213 200);
  --md-sys-color-on-tertiary-fixed-variant: rgb(0 80 72);
  --md-sys-color-surface-dim: rgb(16 20 23);
  --md-sys-color-surface-bright: rgb(54 58 62);
  --md-sys-color-surface-container-lowest: rgb(11 15 18);
  --md-sys-color-surface-container-low: rgb(24 28 32);
  --md-sys-color-surface-container: rgb(28 32 36);
  --md-sys-color-surface-container-high: rgb(38 42 46);
  --md-sys-color-surface-container-highest: rgb(49 53 57);
}
